legend {
    font-size: 150%;
}

.button--sender {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    font-family: inherit;
    font-size: 150%;
    background-color: rgba(40, 40, 40, 0.5);
    color: white;
    border: 2px solid white;
    border-radius: 14px;
    transition: .25s all ease;
    margin: 0 auto;
}

button:hover {
    background-color: white;
    color: #282828;
    transition: .25s all ease;
}

input {
    font-family: inherit;
    font-size: 100%;
    background-color: rgba(40, 40, 40, 0);
    color: white;
    border-style: solid;
    border-color: white;
    border-width: 2px;
    border-radius: 13px;
    transition: .25s all ease;
}

input:focus {
    background-color: white;
    color: #282828;
    border-color: white;
    transition: .25s all ease;
    outline:none;
}

.group--text {
    margin-right: 20px;
}

.group--buttons {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.group--buttons label {
    position: relative;
    margin-right: 1em;
    padding-left: 2em;
    padding-right: 1em;
    line-height: 2;
    cursor: pointer;
}

.group--buttons label:before {
    box-sizing: border-box;
    content: " ";
    position: absolute;
    top: 0.3em;
    left: 0;
    display: block;
    width: 1.4em;
    height: 1.4em;
    border: 2px solid white;
    border-radius: .25em;
    z-index: -1;
}

input[type="radio"] + label::before {
    border-radius: 1em;
}

/* Checked */
input[type="checkbox"]:checked + label, input[type="radio"]:checked + label {
    padding-left: 1em;
    color: #1E1E20;
}

input[type="checkbox"]:checked + label:before, input[type="radio"]:checked + label:before {
    top: 0;
    width: 100%;
    height: 2em;
    background: white;
}

/* Transition */
label, label::before {
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
}

input[type="checkbox"], input[type="radio"] {
    position: absolute;
    opacity: 0;
    z-index: -1;
}
